<%= provide(:title, 'Sign Up') %>
<h1>Sign up</h1>

<div class="row">
  
	  <%= form_for @user, html: {class:"col¸s6 offset-s3"} do |f| %>
	  	<div class="row">
	  	<%= render 'shared/error_messages', object: f.object %>
			<div class="input-field">
				<%= f.label :name, class: 'validate', id:"icon_prefix" %>
				<%= f.text_field :name, class: 'icon_prefix' %>
			</div>
			<div class="input-field">
				<%= f.label :email, class: 'validate', id:"icon_prefix" %>
				<%= f.text_field :email, class: 'icon_prefix' %>
			</div>
			<div class="input-field">
				<%= f.label :password, class: 'validate', id:"icon_prefix" %>
				<%= f.password_field :password, class: 'icon_prefix' %>
			</div>
			<div class="input-field">
				<%= f.label :password_confirmation, class: 'validate', id:"icon_prefix" %>
				<%= f.password_field :password_confirmation, class: 'icon_prefix' %>
			</div>
			
			<%= f.submit "Create my account", class: "btn btn-primary" %>
	  	</div>
		  
	  <% end %>
 
</div>