<% provide(:title, "Home") %>
<% if logged_in? %>
  <div class="row">
    <aside class="col m4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render "shared/stats" %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col m8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1 class="home-heading">Welcome to the Sample App</h1>
    <h5>This app allows you to:</h5>
    <ul> 
      <li>Create an user</li>
      <li>Create a micropost</li>
      <li>Follow other user</li>
      <li>Unfollow other user</li>
      <li>Read your status feed</li>
    </ul>
  </div>
  <div class="row">
    <div class="col l10 offset-l1">
      <%= link_to "Sign up now!", signup_path, class: "btn-submit waves-effect waves-light btn-large" %>
    </div>
    
  </div>
<% end %>
